$font-bold: "Bold", sans-serif;
$font-regular: "regular", sans-serif;
$font-medium: "medium", sans-serif;
$font-thin: "thin", sans-serif;

$primary-color: #00ffff;
$secondary-color: #3bc5c5;
$dark-bg: #1a1a1a;
$darker-bg: #151515;
$text-color: #DDDDDD;
$light-text: #fff;
$dark-background: #111111;
$light-green: #76B900;
$secondary-btn-bg: #333d4e;
$white-bg: #ffffff;
$top-bar-color: #0088ff;
$text-dark: #1a1a1a;